.c-btn {
    position: relative;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 0px;
    padding: 10px 20px;
    font-weight: 500;
    display: inline-block;
    text-transform: capitalize;
    background-color: #beb996;
    transition: 1s;
    border-radius: 5px;
}

.c-btn:hover {
    animation: pulse 1.5s ease 0s 1 alternate both;

    box-shadow: 8px 8px #27272f7c;
  }
  .section-shape{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 120px;
    background: url(../images/pattern-1.png);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Title Section */
  .title-area{
    text-align: center;
    width: 100%;
  }
  .title-area h4 {
    position: relative;
    color: #beb996;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Niconne', cursive;
}
  .title-area h2 {
    color: #27272f;
    font-weight: 600;
    line-height: 1.3em;
    margin-top: 8px;
    font-size: 48px;
    position: relative;
    padding-bottom: 30px;
}
  .title-area h2::after {
    content: '';
    width: 70px;
    height: 22px;
    position: absolute;
    background-image: url(../images/separate.png);
    background-size: contain;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

}
  .title-area h2 span{
    color: #de9190;
}
  .title-area p{
    color: #5e5e5e;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
}



















  @keyframes pulse {
    0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 0 50%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
  }