.form-btn,
.c-btn {
    position: relative;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 0px;
    padding: 10px 20px;
    font-weight: 500;
    display: inline-block;
    text-transform: capitalize;
    background-color: #beb996;
    transition: 1s;
    border-radius: 5px;
}

.c-btn:hover {
    animation: btnAnim 1.5s ease 0s 1 alternate both;
    box-shadow: 8px 8px #27272f7c;
  }
.form-btn:hover {
  animation: heartBeat 2s ease 0s 5 alternate both;
}
  .section-shape{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 120px;
    background: url(../images/pattern-1.png);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Title Section */
  .title-area{
    text-align: center;
    width: 100%;
  }
  .title-area h4 {
    position: relative;
    color: #beb996;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Niconne', cursive;
}
  .title-area h2 {
    color: #27272f;
    font-weight: 600;
    line-height: 1.3em;
    margin-top: 8px;
    font-size: 48px;
    position: relative;
    padding-bottom: 30px;
}
  .title-area h2::after {
    content: '';
    width: 70px;
    height: 22px;
    position: absolute;
    background-image: url(../images/separate.png);
    background-size: contain;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

}
  .title-area h2 span{
    color: #de9190;
}
  .title-area p{
    color: #5e5e5e;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
}

/* ======== Form Design css ======== */

.form-area {
  border: 18px double #27272f;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.form-area .single-input {
  width: 100%;
}
.form-area .single-input input {
  position: relative;
  display: block;
  width: 100%;
  line-height: 18px;
  padding: 10px 20px;
  height: 54px;
  color: #000000;
  font-size: 16px;
  border-radius: 0px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
}
.form-area .single-input select.brand-select {
  position: relative;
  display: block;
  width: 100%;
  line-height: 18px;
  padding: 10px 20px;
  height: 54px;
  color: #000000;
  font-size: 16px;
  border-radius: 0px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
}
.form-area .ask-to-go {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.form-area .ask-to-go p{
  position: relative;
    color: #27272f;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.form-area .ask-to-go p span{
    font-size: 30px;
    font-family: 'Niconne', cursive;
    color: #de9190;
    text-decoration: underline;
}

/* ====== Brand Card Design ====== */
.brand-section{
  width: 100%;
  background: #fff;
}
.brand-card {
  width: 100%;
  padding: 20px;
  border: 2px dashed #acacac;
  border-radius: 2px;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: 0.6s;
}
.brand-card::after{
  background: #27272f;
  width: 0%;
  height: 0%;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%,-50%);
  transition: 0.6s;
  border-radius: 50%;
  opacity: 0;
}
.brand-card:hover::after{
  width: 100%;
  height: 100%;
  border-radius: 0;
  opacity: 1;
}
.brand-section .brand-card:nth-child(1)::after{
  background-color: #de0a1c54;
}
.brand-section .brand-card:nth-child(2)::after{
  background-color: #E50102;
}
.brand-section .brand-card:nth-child(3)::after{
  background-color: #016F41;
}
.brand-section .brand-card:nth-child(4)::after{
  background-color: #2051A0;
}
.brand-section .brand-card:nth-child(5)::after{
  background-color: #304571;
}
.brand-section .brand-card:nth-child(5)::after{
  background-color: #D31245;
}
.brand-section .brand-card .brand-img {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.brand-card .brand-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50%;
}
.brand-card h2{
    position: relative;
    color: #27272f;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Niconne', cursive;
    margin-top: 30px;
}

/* product banner */

.product-details-banner{
  width: 100%;
  background: url(../../assets/images/6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* ======= Featured section ======= */
.featured-section{

    background:linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url(../../assets/images/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 30px;
}
.featured-section .single-feature {
  border: 2px solid #000;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.featured-section .single-feature::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #00000093;
  transition: 0.6s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.featured-section .single-feature::before{
  content: 'Featured Juice';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.6s;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Niconne', cursive;
  transition: 0.6s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  display: inline-block;
}
.featured-section .single-feature:hover::after{
  width: 94%;
  height: 94%;
  opacity: 1;
  visibility: visible;

}
.featured-section .single-feature:hover::before{
  opacity: 1;
  visibility: visible;
}
















/* ====== Animations ====== */

  @keyframes btnAnim {
    0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 0 50%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
  }


  @keyframes heartBeat {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
  
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
  
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
  
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
  
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }