.footer-section{
    background-color: #050505;
    padding: 30px 0;
    color: #fff;
}
.footer-section h6{
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-family: 'Niconne', cursive;
    font-size: 30px;
    position: relative;
}
.footer-section h6::after{
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 2px;
    width: 45px;
    background-color: #beb996;
}
